<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>438582901138-7lo7q4ggvn1q03mdmtv51ivphdng6sro.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.438582901138-7lo7q4ggvn1q03mdmtv51ivphdng6sro</string>
	<key>API_KEY</key>
	<string>AIzaSyCO3UE7DmoYcXGLoH86RX8qcJloYETp2So</string>
	<key>GCM_SENDER_ID</key>
	<string>438582901138</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.horizon.x9tofast</string>
	<key>PROJECT_ID</key>
	<string>tofast-b52b7</string>
	<key>STORAGE_BUCKET</key>
	<string>tofast-b52b7.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>UIBackgroundModes</key>
	<array>
    <string>processing</string>
	</array>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:438582901138:ios:b8bc42acc3433d2b04e94b</string>
</dict>
</plist>